{% extends "resume/resume.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/styles/editor.css">
<script type="text/javascript" src="{{url_for('static', filename='js/edit.js')}}"></script>

{% endblock head %}
{% block body %}
<div id="edit">
    <input type="button" class="arrow" id="arrow-horizontal" onclick="togglePanelHorizontal(this)" value="&#x25C0">

    <div id="hide-horizontal">

        <div class="error">{{ error }}</div>
        <div class="message">{{ message }}</div>


        <input type="button" class="arrow" id="arrow-vertical" onclick="togglePanelVertical(this)" value="&#x25B2">

        <input type="button" class="button" style="float:right" onclick="window.print();return false;" value="print" />

        <div id="editor-form">

            <form action="/edit" method="POST">
                <input type="hidden" method="GET" value="1">

                <div>
                    <input type="submit" value="render" class="button" style="float:right">
                    <input type="file" value="import JSON" multiple="false" accept="application/json,.json" class="button" style="float:right" onchange="readTextFile(event,'data')">
                    <input type="color" value="{{ theme }}" class="button" name="color" id="theme-color" style="float:right">	
                    			
                </div>
                <div id="hide-vertical">
                    {% block hide %}
                    <textarea name="data" id="json-data" placeholder="paste json content here" required>
					{{ json }}
					</textarea>
                    {% endblock hide %}
                </div>
            </form>
        </div>
    </div>
</div>

<div id="view">
    {{ super() }}
</div>
{% endblock body %}
