{% extends "resume/resume.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/styles/editor.css">
<script type="text/javascript" src="{{url_for('static', filename='js/edit.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/export.js')}}"></script>
<script>
function exportJson(){
var area = document.getElementById('json-data');
saveTextAs(area.value,"cv.json");
}
</script>
{% endblock head %}
{% block body %}
<div id="edit">
    <input type="button" class="arrow" id="arrow-horizontal" onclick="togglePanelHorizontal(this)" value="&#x25C0">

    <div id="hide-horizontal">




        <input type="button" class="arrow" id="arrow-vertical" onclick="togglePanelVertical(this)" value="&#x25B2">

        <input type="button" class="button" onclick="window.print();return false;" value="print" />

        <div id="editor-form">

            <form action="/edit" method="POST" id="json-form">
                <input type="hidden" method="GET" value="1">

                <div>

                    <input type="submit" value="render" class="button">  					<input type="reset" value="reset" class="button" onclick="autoColorReset()">
					<input type="button" value="reload" class="button" onclick="reloadPage()">
					<input type="button" value="export" class="button" onclick="exportJson()">
					<input type="button" value="import" class="button" onclick="importJson()">
                    <input type="button" value="select color" id="color-button" class="button" style="background-color:{{ theme }}" onclick="colorSelect()">
                    <input type="button" value="autocolor &#x274C" id="autocolor-button" class="button" onclick="autoColorToggle()" style="background-color:darkorange" >
										
                    <input type="file" id="input-file" value="import JSON" multiple="false" accept="application/json,.json" onchange="readTextFile(event,'data')" style="display:none">
                    <input type="color" value="{{ theme }}" name="color" id="theme-color" style="display:none" onchange="colorUpdate(this)">	
                    <input type="checkbox" name="autocolor" id="auto-color" {{ "checked" if autocolor }} style="display:none" onchange="autoColorUpdate()">
                    			
                </div>
                <div id="hide-vertical">
                    {% block hide %}
        			<div style="left:15px;">
						<div class="error">{{ error }}</div>
	        			<div class="message">{{ message }}</div>
					</div>
					<div>
                    	<textarea name="data" id="json-data" placeholder="paste json content here" required>
						{{ json }}
						</textarea>
					</div>
                    {% endblock hide %}
                </div>
            </form>
        </div>
    </div>
</div>

<div id="view">
    {{ super() }}
</div>
{% endblock body %}
