{% extends "resume.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/styles/editor.css">
<script type="text/javascript" src="{{url_for('static', filename='js/edit.js')}}"></script>
{% endblock %}
{% block body %}
<div class="edit">
    <div class="error">{{ error }}</div>
    <div class="message">{{ message }}</div>
    <input type="button" class="arrow" onclick="togglePanel(this,'hide')" value="&#x25B2">
    <input type="button" class="button" style="float:right" onclick="window.print();return false;" value="print" />
    <div>
        <form action="/edit" method="POST">
            <div>
                <input type="submit" value="render" class="button" style="float:right">
                <input type="file" value="import JSON" multiple="false" accept="application/json,.json" class="button" style="float:right" onchange="readTextFile(event,'data')">
            </div>
            <div id="hide">
                <input type="hidden" method="GET" value="1">
                <div class="explanation">paste json content here</div>
                <textarea name="data" id="data" placeholder="paste json content here" required>
{{ json }}
</textarea>
            </div>
        </form>
    </div>
</div>

<div class="view">
    {{ super() }}
</div>
{% endblock %}