<!DOCTYPE HTML>
<html>

<head>
    {% block head %}
    <title>CV Generator</title>
    <link rel="stylesheet" href="/static/styles/resume.css">
    {% endblock %}
</head>


<body>
    {% block body %}
    {% include "header.html" %}
    <div class="row" style="padding-bottom:18px;">
        {% from "block.html" import render_block %}
        <div class="column">
            {% for item in left %}
            {{ render_block(item) }}
            {% endfor %}
        </div>
        <div class="column">
            {% for item in right %}
            {{ render_block(item) }}
            {% endfor %}
        </div>
    </div>
    {% endblock %}
</body>

</html>