.message {
    color: green;
}

.error {
    color: red;
}

.explanation {
    color: gray;
}

#edit {
    background-color: gold;
    border-radius: 5px;
    padding: 8px;
    font-size: 12px;
    overflow-x: hidden;
}


#hide-vertical {
    margin-right: 6px;
    display: block;
}


#hide-horiztontal {
    display: block;
}

#json-data {
    font-size: 12px;
    position: relative;
    resize: none;
    left: 0;
    right: 0;
    height: 30vh;
    max-width: 100%;
    min-width: 100%;
    color: green;
    background-color: lightyellow;
}

.arrow {
    float: right;
    color: darkorange;
    background-color: #0000;
    border-color: #0000;
    margin: 0;
    padding: 0;
}

#arrow-vertical {
    display: block;
}

#arrow-horizontal {
    position: absolute;
    display: none;
}


.button {
    background-color: darkorange;
    border-radius: 5px;
    border-color: white;
    color: white;
    margin: 1px;
    height: 24px;
    float: right;
}


textarea,
input,
button,
select {
    font-family: inherit;
    font-size: inherit;
}

@media print {
    #edit {
        display: none;
        hidden: true;
        visible: false;
    }
}


@media only screen and (min-width: 1500px) {
    #edit {
        position: absolute;
        top: 0;
        left: 0;
        width: 600px;
        height: 95vh;
        overflow: hidden;
        border: none;
        border-bottom-width: 10px;
        border-style: solid;
        border-color: gold;
    }

    #arrow-vertical {
        display: none;
    }

    #arrow-horizontal {
        position: absolute;
        display: block;
    }

    #hide-vertical {
        display: block;
    }

    #hide-horizontal {
        display: block;
    }


    #json-data {
        position: absolute;
        resize: none;
        top: 40px;
        left: 5px;
        height: 100%;
        min-width: 97.5%;
        max-width: 97.5;
    }


    #view {
        position: absolute;
        top: 0;
        left: 600px;
        min-height: 1200px;
        max-width: 848px;
    }
}