.message {
    color: green;
}

.error {
    color: red;
}

.explanation {
    color: gray;
}

.edit {
    background-color: gold;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
    overflow: auto;
}

#hide {
    margin-right: 2px;
}

textarea {
    font-size: 12px;
    position: relative;
    left: 0;
    right: 0;
    height: 30vh;
    max-width: 100%;
    min-width: 100%;
    color: green;
}

.arrow {
    float: right;
    color: darkorange;
    background-color: #0000;
    border-color: #0000;
    margin: 0;
    padding: 0;
}

.button {
    background-color: darkorange;
    border-radius: 5px;
    border-color: white;
    color: white;
    margin: 1px;
    height: 24px;
}


textarea,
input,
button,
select {
    font-family: inherit;
    font-size: inherit;
}

@media print {
    .edit {
        display: none;
        hidden: true;
        visible: false;
    }
}